<%= form_for @student do |form| %>
<label for="">First Name:</label><br/>
<%= form.text_field :first_name  %><br/>

<label for="">Last Name:</label><br/>
<%= form.text_field :last_name %><br/><br/>

<%= form.submit  %>

<%  end %>

